#kaocha/v1
{:tests   [{:id          :doctests
            :type        :kaocha.type/doctest
            :test-paths  ["src"]
            :ns-patterns [".*"]}
           {:id          :unit }]
 :reporter [kaocha.report/documentation]}
